
<br />
<button class="btn btn-outline-success mb-2 mr-2" routerLink="/bewer">Lista browarników</button>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <label>
    Nazwa piwa:
    <input type="text" formControlName="name__li">
  </label>

  <label>
    browarnik:
    <select formControlName="bwr">
      <option *ngFor="let bewer of bewers" [ngValue]="bewer.id">{{bewer.name}}</option>
    </select>
  </label>

  <label>
    browarnik:
    <select formControlName="country_code">
      <option *ngFor="let country of countrySelect" [ngValue]="country.id">{{country.name}}</option>
    </select>
  </label>

  <label>
    Typ:
    <select formControlName="type">
      <option *ngFor="let beerTyp of typeSelect" [ngValue]="beerTyp.id">{{beerTyp.name}}</option>
    </select>
  </label>

  <label>
    cena piwa od:
    <input type="text" formControlName="price__from">
  </label>

  <label>
    cena piwa do:
    <input type="text" formControlName="price__to">
  </label>


  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>

<mat-list>
  <h3 mat-subheader>Lista piw</h3>
  <mat-list-item *ngFor="let beer of beers">
    <h4 mat-line>
      Piwo "{{beer.beer_name}}"
      browarnika <b>{{beer.bwr_name}}</b>
      typu <b>{{beer.beer_type}}</b>
      pochodzące z {{beer.beer_country}}.
      cena: {{beer.beer_liter_price}} za litr
      <button class="btn btn-outline-primary mb-2 mr-2" (click)="showDetails(beer.id_beer, content)">Zobacz szczegóły</button>
    </h4>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>

<mat-paginator [length]="length" [pageSize]="pageSize" (page)="pageEvent = pageChange($event)"></mat-paginator>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="{{beer.beer_image}}" />
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
                <b>
                  {{beer.beer_type}}
                </b>
                <h4>{{beer.beer_name}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
                {{beer.beer_price_per_size}} za {{beer.beer_size}} 
            </div>
          </div>
          <div class="row">
            <div class="col">
                {{beer.beer_liter_price}} za litr
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>